<div class='mb-6 w-1/2'>
  <h1 class='text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center mb-2'>
    Show Question
  </h1>

  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow mt-8">
    <h5 class="mb-5 text-2xl font-bold text-center tracking-tight text-gray-900"><%= @question.title %></h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= @question.body %></p>
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <%= link_to 'Edit', edit_question_path(@question),
                  class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-l-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium' %>
      <%= link_to 'Delete', question_path(@question), method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: 'text-sm px-4 py-2 focus:outline-none text-white rounded-r-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium' %>
    </div>

  </div>
</div>
