<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone has requested password reset for your account</h1>

      <%= link_to 'Reset password', edit_password_reset_url(editable_user: {
        reset_password_token: @user.reset_password_token,
        email: @user.email }), target: '_blank' %>
  </body>
</html>
