<%= turbo_frame_tag "#{dom_id(answer)}_with_comments" do %>
  <div class="bg-gray-100 rounded-lg px-6 py-3 mb-2">
    <div class="flex flex-col space-y-4">
      <%= render partial: 'answers/only_answer', locals: { answer:, question: } %>

      <section class="bg-gray-100 py-2 lg:py-2 antialiased">
        <div class="max-w-2xl mx-auto px-4">
          <%= render partial: 'comments/commentable', locals: { commentable: answer, comment: @comment } %>
        </div>
      </section>
    </div>
  </div>
<% end %>

